<div class="" id="popup-advanced-search">
  <div class="close-section">
    <div class="button-link">
      <button (click)="clearSearch()"><span class="button-text">vider</span></button>
    </div>
  </div>

  <div class="">
    <form id="advanced-search-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div id="search-left">
        <div class="form-group searchbar-container">
          <label for="masque">Recherche rapide par espèce ou famille</label>
          <div class="searchbar-container">
            <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
            <input formControlName="masque" id="masque" placeholder="exemple: Acer campestre">
          </div>

        </div>
        <div class="form-group">
          <label for="referentiel">Référentiel taxonomique</label>
          <select class="w-100" formControlName="referentiel" id="referentiel">
            @for(referentiel of referentiels; ; track referentiel.code){
              <option [value]="referentiel.code">
                {{ referentiel.nom }}
              </option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="famille">Famille (latin)</label>
          <div class="searchbar-container">
            <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
            <input formControlName="famille" id="famille" placeholder="exemple: Pinaceae">
          </div>
        </div>
        <!--        <div class="form-group">-->
        <!--          <label for="genre">Genre</label>-->
        <!--          <div class="searchbar-container">-->
        <!--            <img class="search-icon" title="recherchez" src="assets/icons/search.png">-->
        <!--            <input id="genre" formControlName="genre">-->
      <!--          </div>-->
    <!--        </div>-->
    <div class="form-group">
      <label for="ns">Espèce (numéro taxonomique)</label>
      <div class="searchbar-container">
        <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
        <input formControlName="ns" id="ns" placeholder="exemple: 141">
      </div>
    </div>
    @if (!useYearOnly) {
      <div class="form-group">
        <label for="date">Date</label>
        <input formControlName="date" id="date" type="date">
      </div>
    }
    @if (useYearOnly) {
      <div class="form-group">
        <label for="year">Année</label>
        <input formControlName="year" id="year" type="number">
      </div>
    }
    <div class="form-group-checkbox">
      <input id="useYearOnly" type="checkbox" [checked]="useYearOnly" (change)="toggleUseYearOnly()">
      <label for="useYearOnly">Rechercher seulement par année</label>
    </div>
  </div>
  <div id="search-right">
    <div class="form-group">
      <label for="pays">Pays</label>
      <select class="w-100" formControlName="pays" id="pays">
        <option [value]=""></option>
        @for(pays of paysList; track pays.code_iso_3166_1){
          <option [value]="pays.code_iso_3166_1">
            {{ pays.nom_fr }}
          </option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="departement">Département français (numéro)</label>
      <div class="searchbar-container">
        <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
        <input formControlName="departement" id="departement" placeholder="exemple: 34">
      </div>
    </div>
    <div class="form-group">
      <label for="commune">Commune française</label>
      <div class="searchbar-container">
        <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
        <input formControlName="commune" id="commune" placeholder="exemple: Montpellier ou 34000">
      </div>
    </div>
    <div class="form-group">
      <label for="auteur">Publié par</label>
      <div class="searchbar-container">
        <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
        <input formControlName="auteur" id="auteur" placeholder="exemple: Tela Botanica">
      </div>
    </div>
    <div class="form-group">
      <label for="tag">Tags</label>
      <div class="searchbar-container">
        <img alt="search-icon" class="search-icon" src="assets/icons/search.png" title="recherchez">
        <input formControlName="tag" id="tag" placeholder="exemple: DefiPhoto">
      </div>
    </div>
    <div class="form-group-checkbox">
      <input checked formControlName="pninscritsseulement" id="pninscritsseulement" type="checkbox">
      <label for="pninscritsseulement">Masquer les observations anonymes envoyées via smartphone</label>
    </div>
    <button class="button-link" type="submit"><span class="button-text">Rechercher</span></button>
  </div>
</form>
</div>
</div>
