#popup-advanced-search {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--accent);
  color: var(--blanc) !important;
  overflow-y: auto;
}

#advanced-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#search-left, #search-right {
  width: 40%;
}

.searchbar-container {
  position: relative;
  width: 100%;
}

.search-icon, .cancel-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  top: 8px;
  left: 10px;
}

@media (width <= 768px) {
  #advanced-search-form {
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem 1rem 1rem;
  }

  #search-left, #search-right {
    width: 100%;
  }
}
