#detail {
  position: relative;
  min-height: 300px;
  padding-right: 1rem;
}

#detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

#detail-left {
  width: 40%;
}

.detail-image-div {
  padding: 1rem;
}

.detail-image {
  height: calc(100% - 1rem);
}

.detail-image-subtitles {
  background-color: var(--brown);
  color: var(--blanc);
  padding: 1rem;
}

.detail-carousel-wrapper {
  background-color: var(--brown);
  /*width: calc(100% - 2rem);*/
  width: 100%;
  padding: 1rem;
}

#detail-right {
  width: 55%;
}

#detail-obs {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 200px;
  border: none;
  box-shadow: 5px 5px 4px 0 var(--primary40), 0 3px 10px 0 var(--primary39);
  background-color: var(--background);
  border-radius: 16px;

}

#detail-obs-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem;
}

#detail-obs-left, #detail-obs-right {
  width: 50%;
}

.detail-icon {
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.proposition-container {
  background-color: var(--grey-light);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.proposition-row{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  min-height: 60px;
  margin-bottom: 1rem;
}

.proposition-com {
  background-color: var(--rose);
}

#detail-commentaires {
  min-height: 100px;
}

@media (width <= 1080px) {
  #detail-container {
    flex-wrap: wrap;
  }

  #detail-left, #detail-right {
    width: 100%;
  }
}

@media (width <= 768px) {
  #detail{
    padding: 0 1rem;
  }

  #detail-obs {
    width: -webkit-fill-available;
    width: -moz-available;
  }

}
