<section id="detail">
  <button><a href="{{urlParamsString}}">Retour</a></button>
  @if(!isLoading){

    <div class="flex-start">
      @if(isAdmin){
        <button (click)="affichagePopupConfirmation(obs.id_observation)" class="button-selected">Dépublier</button>
      }
    </div>

    <div id="detail-image-container">
    <div id="detail-image-selected">
      <img class="detail-image" alt="{{nomScientifique}}"  src="{{imageSelected['binaire.href']}}">
    </div>

     <div id="detail-image-miniatures-container">
        @for (image of obs.images; track image.id_image){
          <img
            (click)="changeSelectedImage(image)"
            class="miniature-image"
            alt="Image: {{image.id_image}}"
            src="{{image['binaire.href']}}">
        }
     </div>
  </div>

  <div id="detail-content">
    <h5>
    {{nomScientifique}} ({{obs["determination.referentiel"]}}) par
    @if(profilUrl){
      <a href="{{profilUrl}}" target="_blank">{{obs["auteur.nom"]}}</a>
    } @else {
    {{obs["auteur.nom"]}}
    }
    @if(obs['auteur.courriel']){
      <a href="mailto:{{obs['auteur.courriel']}}" target="_blank"> ({{obs['auteur.courriel']}})</a>
    }
    </h5>

    <p>Observée à {{obs.zone_geo}} @if(obs.id_zone_geo){ ({{departement}}) }, {{obs.pays}}
    le {{dateObservation}}</p>

    <p>
    @if(obs.lieudit){ Lieu: {{obs.lieudit}} }
    @if(obs.station){ Station: {{obs.station}} }
    @if(obs.milieu){ Lieu: {{obs.milieu}} }
    </p>

    <!--  TODO: Faire un composant-->
    @if(commentaires.length < 1){
      <p class="card-texte">{{nomScientifique}}
        <button (click)="voter('1', '0')">Pour</button>
        <button (click)="voter('0', '0')">Contre</button>
      </p>
      <p class="card-texte">Score: 0</p>
    } @else {
      @for(commentaire of commentairesGrouped.proposition; track commentaire.id_commentaire){

        <hr class="w-100"/>
        <p class="card-texte">Proposition: {{commentaire.nom_sel}}</p>
        <div class="flex-start">
          @if(isVerificateur && commentaire.nom_sel_nn){<button (click)="validerProposition(commentaire.id_commentaire, commentaire['auteur.id'])" class="button-selected">Valider</button>}
        </div>

        <button (click)="openAddComment('reponse', commentaire.id_commentaire)">Répondre à la proposition</button>

        <div class="flex-center">
          @if (commentaire.votes){
            <p class="card-texte">Score: {{commentaire.score}} ({{commentaire.votes.length}} vote(s))</p>
          } @else {
            <p class="card-texte">Score: {{commentaire.score}} (0) vote)</p>
          }
          <span (click)="voter('1', commentaire.id_commentaire )">Pour</span>
          <span (click)="voter('0', commentaire.id_commentaire )">Contre</span>

          @if(commentaire.votes && commentaire.votes.length > 0){
            <span (click)="openDetailVotes(commentaire.id_commentaire)">Détail</span>
          }
        </div>

        @if (popupAddCommentOnDetail && popupAddCommentOnDetailId === commentaire.id_commentaire){
          <app-popup-ajout-commentaire
            [obsId]="commentaire.observation"
            [commentType]="commentType"
            [id_parent]="commentaire.id_commentaire"
            [proposition]="commentaire.proposition"
            (closePopupEmitter)="closeAddComment()">
          </app-popup-ajout-commentaire>
        }

        @if(commentaire.texte){
          <p class="card-texte">Commentaire: {{commentaire.texte}}</p>
        }

        @if(commentaire.reponses){
          <app-commentaire [commentaires]="[commentaire]" [niveau]="0"></app-commentaire>
        }

        @if (popupDetailVotes === commentaire.id_commentaire){
          <app-popup-detail-votes
            [commentaire]="commentaire"
            [obs]="obs"
            (closePopupEmitter)="closeDetailVotes()">
          </app-popup-detail-votes>
        }

      }

      <hr class="w-100"/>
      <hr class="w-100"/>

      @for(commentaire of commentairesGrouped.commentaire; track commentaire.id_commentaire){
        @if(commentaire.texte){
            <app-commentaire [commentaires]="[commentaire]" [niveau]="0"></app-commentaire>
        }
      }
    }

    @if(voteErrorMessage){
      <div><p class="invalid-feedback">{{voteErrorMessage}}</p></div>
    }

    @if(validationErrorMessage){
      <div><p class="invalid-feedback">{{validationErrorMessage}}</p></div>
    }

    @if(depublierErrorMessage){
      <div><p class="invalid-feedback">{{depublierErrorMessage}}</p></div>
    }

    <hr class="w-100"/>
    <hr class="w-100"/>

    <div>
      <button (click)="openAddCommentOnObs('determination')">Proposer une détermination</button>
      <button (click)="openAddCommentOnObs('commentaire')">Ajouter un commentaire</button>
    </div>

    @if (popupAddComment){
      <app-popup-ajout-commentaire
        [obsId]="obs.id_observation"
        [commentType]="commentType"
        (closePopupEmitter)="closeAddCommentOnObs()">
      </app-popup-ajout-commentaire>
    }

    @if(showWarningPopup){
    <div class="warning-popup">
      <p>Etes-vous sûr de vouloir dépublier cette observation ?</p>
      <p>Cliquez sur OK pour valider malgré tout, ou sur Annuler pour retourner sur le détail de l'observation.</p>
      <button type="button" (click)="confirmerDepublier(obs.id_observation)">OK</button>
      <button type="button" (click)="cancelDepublier()" class="button-selected">Annuler</button>
    </div>
    }

  </div>

  } @else {
  <!--  Affichage du loader -->
    <div class="loader-container">
      <div class="loadership_COHKO">
        <div></div>
        <div></div>
      </div>
    </div>

  }
</section>

