#card-extended-first-container {
  width: 40%;
  max-width: 400px;
}

#card-extended-second-container {
  min-width: 370px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

#card-extended-details {
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: var(--background-blanc);
  padding: 1rem;
}

#card-extended-details-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

@media (width <= 1380px){
  #card-extended-second-container {
    flex-grow: unset;
    width: 50%;
  }
}

@media (width <= 980px){
  #card-extended-first-container {
    width: 80%;
  }
  #card-extended-second-container{
    width: 100%;
  }
}

@media (width <= 450px){
  #card-extended-first-container {
    width: 100%;
    margin-top: 70px;
  }

  #card-extended-second-container{
    min-width: 0;
  }

}
