.card {
  height: 375px;
  width: 375px;
  border: none;
  box-shadow: 10px 10px 8px 0 var(--primary40), 0 6px 20px 0 var(--primary39);
  background: var(--gradient-card);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  /*background: var(--accent);*/
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  min-height: 100px;
}

.card-top {
  display: flex;
  flex-direction: column;
  background: var(--accent);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  min-height: 100px;
}

.card-title-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-title {
  margin: 0;
  max-width: 150px;
  word-break: break-word;
}

.card-body {
  /*display:flex;*/
  /*justify-content: space-evenly;*/
  /*flex-wrap: wrap;*/
  /*gap: 10px;*/
  /*margin: 0 20px 20px 20px;*/
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-subtitle {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 20px 20px 20px;
}

.card-info {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  width: 200px;
}

/*@media (width <= 768px) {*/
/*  .card {*/
/*    min-width: 250px;*/
/*    border-radius: 20px;*/
/*  }*/

/*  .card-top {*/
/*    border-top-left-radius: 20px;*/
/*    border-top-right-radius: 20px;*/
/*  }*/
/*}*/

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

