<div class="card">
  <div class="card-image-div">
    <img (click)="openBigImage()" class="card-image" src="{{selectedImage['binaire.href']}}"/>
  </div>
  <div class="card-body">
    <h5 class="card-title w-100">{{nomScientifique}}</h5>
    <p class="card-texte">Référentiel: {{obs.determination_referentiel}}</p>
    <p class="card-texte">Observée le {{dateObservation}}</p>
    <p class="card-texte">Observateur: {{obs.auteur_nom}}</p>
    <p class="card-texte">Lieu: {{obs.zone_geo}} {{obs.station}}, {{obs.pays}}</p>
    <p class="card-texte">Publiée le {{dateTransmission}}</p>
  </div>

  @if (popupBigImage){
  <app-popup-big-image [obs]="obs" [selectedImage]="selectedImage" (closePopupEmitter)="closeBigImagePopup()"></app-popup-big-image>
  }

</div>
