RewriteEngine On
RewriteBase /appli:identiplante/

# Permet l'accès direct à index.html et aux fichiers existants
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /appli:identiplante/index.html [L]

#RewriteRule . index.html [L]
