footer {
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--brown);
  color: var(--blanc);
  min-height: 150px;
  width: 100%;
}

.pictoplante-contact {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.pictoplante-financeurs {
  padding: 1rem;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.share {
  cursor: pointer;
}

.share:hover, .contact:hover {
  border-bottom: 4px solid var(--blanc);
}

.message-url-copied {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

@media (width <= 768px) {
  footer {
    padding: 0 1rem;
    justify-content: flex-start;
    min-height: 100px;
    position: relative;
  }

  .pictoplante-contact, .pictoplante-financeurs {
    width: 100%;
  }

  .pictoplante-contact {
    justify-content: flex-start;
  }
}
