<footer>
  <div class="pictoplante-contact">
    <h5>
      <a href="{{urlWidgetRemarque}}"
          [attr.data-urlrapport]="urlWidgetRemarque"
          target="_blank"
          (click)="openWindow(urlWidgetRemarque)"
          class="text-white uppercase contact">
      Contactez-nous
      </a>
    </h5>

    <h5 (click)="copyUrl()" class="share uppercase m-0">Partager cette page</h5>

  </div>

  <div class="pictoplante-financeurs">
    <p class="text-white font16">Projet financ&eacute; par</p>
    <p>
      <a class="logo_lr" href="https://www.ecologie.gouv.fr/" target="_blank">
        <img [src]="logoSrc"
             alt="logo_ministere"
             title="Aller sur le site du ministère de la transition écologique"
             class="logo_lr"
             loading="lazy"
             width="92"
             height="72"
             (mouseover)="changeLogo(true)"
             (mouseout)="changeLogo(false)">
      </a>
    </p>
  </div>

  @if(showMessageUrlCopied){
    <div class="message-url-copied">URL copiée !</div>
  }
</footer>
