<footer>
  <div class="pictoplante-contact">
    <h5>
      <a class="text-white uppercase contact"
          href="{{urlWidgetRemarque}}"
          target="_blank"
          [attr.data-urlrapport]="urlWidgetRemarque"
          (click)="openWindow(urlWidgetRemarque)">
      Contactez-nous
      </a>
    </h5>

    <h5 class="share uppercase m-0" (click)="copyUrl()">Partager cette page</h5>

  </div>

  <div class="pictoplante-financeurs">
    <p class="text-white font16">Projet financ&eacute; par</p>
    <p>
      <a class="logo_lr" href="https://www.ecologie.gouv.fr/" target="_blank">
        <img alt="logo_ministere"
             class="logo_lr"
             height="72"
             loading="lazy"
             title="Aller sur le site du ministère de la transition écologique"
             width="92"
             [src]="logoSrc"
             (mouseout)="changeLogo(false)"
             (mouseover)="changeLogo(true)">
      </a>
    </p>
  </div>

  @if(showMessageUrlCopied){
    <div class="message-url-copied">URL copiée !</div>
  }
</footer>
