<section id="zoneEntete" class="limitMax">
  <h1 id="zoneTitre">
        <a id="titreLien" href="{{baseUrl}}">IdentiPlanteQ</a>
  </h1>

  <div id="zoneLogos">
    <a class="logo_tela" href="https://www.tela-botanica.org" target="_blank"></a>
    <a class="logo_pn" href="https://plantnet.org/" target="_blank"></a>
  </div>

  <div id="zoneChapeau">
    <ul class="traitTela">
      <li>Cet espace vous permet d'échanger sur la détermination d'espèces.</li>
      <li>
        Vous ne parvenez pas à déterminer une plante ? <br />
        Soumettez-la aux membres du réseau.
      </li>
      <li>
        Vous avez relevé des erreurs dans les images soumises par le réseau ? <br />
        Postez un commentaire ou proposez une nouvelle détermination.
      </li>
    </ul>
  </div>

  <div id="zoneEnteteContenu">
    <app-login></app-login>
  </div>
  <hr />
</section>
