header {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  height: 60px;
}

.section-titre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  height: fit-content;
}

#titreLien {
  display: block;
  margin-bottom: 4px;
  height: 35px;
}

.titre {
  width: fit-content;
  transition: border-bottom 0.2s ease;
}

.titre:hover {
  border-bottom: 4px solid var(--darkBrown);
}

.help-icon {
  height: 20px;
  cursor: pointer;
}

@media (width <= 768px) {
  header {
    padding: 0 1rem;
    flex-direction: column;
    height: unset;
    margin: 0;
    padding: 60px 1rem 0 1rem;
    gap: 0;
  }

  #zoneTitre {
    order: 1;
  }
}
