<section id="zoneEntete">
  <div class="flex-evenly">
    <h1 id="zoneTitre">
      <a id="titreLien" href="{{baseUrl}}">IdentiPlante</a>
    </h1>

    <div>
      <a class="logo_tela" href="https://www.tela-botanica.org" target="_blank"><img src="/assets/img/logos/tela.jpg" alt="logo_tela" ></a>
    </div>

    <div>
      <a class="logo_pn" href="https://plantnet.org/" target="_blank"><img src="/assets/img/logos/pn.jpg" alt="logo_Plantnet" ></a>
    </div>
  </div>

  <div id="zoneChapeau" class="flex-evenly">
    <ul>
      <li>Cet espace vous permet d'échanger sur la détermination d'espèces.</li>
      <li>
        Vous ne parvenez pas à déterminer une plante ? <br />
        Soumettez-la aux membres du réseau.
      </li>
      <li>
        Vous avez relevé des erreurs dans les images soumises par le réseau ? <br />
        Postez un commentaire ou proposez une nouvelle détermination.
      </li>
    </ul>

<!--    <app-login></app-login>-->
  </div>

  <hr />
</section>
