header {
  /*padding-right: 1rem;*/
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  height: 60px;
}

#titreLien {
  display: block;
  width: 100%;
}

@media (width <= 768px) {
  header {
    padding: 0 1rem;
    flex-direction: column;
    height: unset;
    /*align-items: flex-end;*/
  }

  #zoneTitre {
    order: 1;
  }
}
