.card {
  height: 300px;
  width: 300px;
  border: none;
  /*box-shadow: 15px 15px 8px 0 var(--primary40), 0 6px 20px 0 var(--primary39);*/
  box-shadow: 10px 10px 8px 0 var(--brown40), 0 6px 20px 0 var(--brown30);
  /*box-shadow: 10px 10px 4px 0 var(--brown), 0 3px 10px 0 var(--brown30);*/
  border-radius: 16px;
  display: flex;
  gap: 1rem;
  background: var(--gradient-card);

  a:hover {
    border-bottom: 4px solid var(--blanc);
  }
}

.card-reduced{
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-header {
  height: 50px;
  width: 100%;
  z-index: 2;
  background-color: #00000030;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-header-icon {
  height: 40px;
  width: 40px;
}

.icon-images {
  position: absolute;
  top: 5px;
  left: 1rem;
}

.icon-comments {
  position: absolute;
  top: 5px;
  right: 1rem;
}

.card-image-div{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  background: var(--accent);
  border-radius: 16px;
}

.card-image{
  border-radius: 16px;
  width: 300px;
  height: 100%;
}

.card-body {
  position: absolute;
  top: 70%;
  left: 0;
  height: 30%;
  width: 300px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 3;
  background-color: #00000095;
  overflow: hidden;
  transition: top 0.5s ease, height 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  a, p, h5 {
    color: var(--blanc);
  }
}

.card-image-div:hover ~ .card-body,  .card-body:hover{
  border-radius: 16px;
  top: 0;
  height: 100%;
}

.card-title {
  margin: 10px 0;
  padding: 0 1rem;
  word-break: break-word;
  width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title:hover {
  border-bottom: 4px solid var(--blanc);
}

.card-texte {
  margin: 0;
  padding: 0 1rem;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.extend-card {
  cursor: pointer;
  padding: 0 1rem;
  width: max-content;
  border-bottom: 4px solid var(--primary);
}

.extend-card:hover {
  font-weight: bold;
}

/****************************** Card Extended *****************/

.card-extended-container {
  min-height: 630px;
  width: 100%;
  border: none;
  box-shadow: 10px 10px 8px 0 var(--brown40), 0 6px 20px 0 var(--brown30);
  border-radius: 16px;
  display: flex;
  gap: 1rem;
  background: var(--background-card);
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.close-extended {
  cursor: pointer;
  height: 39px;
  width: 39px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-image-div-extended{
  height: 400px;
  padding: 0 1rem;
  background-color: var(--brown);
  border-top-left-radius: 16px;
}

.card-title-extended {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--brown);
  min-height: 50px;
  color: var(--blanc);

  a {
    color: var(--blanc);
  }
}

.card-image-extended{
  width: -webkit-fill-available;
  width: -moz-available;
  height: 80%;
  cursor: pointer;
  background-color: var(--background-blanc);
  padding: 0.5rem;
}

.card-image-extended-subtitles {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px dashed var(--brown30);
}

.card-extended-details-title {
  display: inline-block;

  a:hover {
    border-bottom: 4px solid var(--text);
  }
}

.card-extended-details-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
  margin-top: 2rem;
  font-size: 1rem;
}

.propositions-layout {
  width: 100%;
  display: grid;
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-template-columns: 3fr 1fr 3fr;
  gap: 8px;
  align-items: center;
}

.vote-icon {
  height: 34px;
  width: 34px;
  margin-right: 1rem;
  cursor: pointer;
}


.extended-button {
  width: 210px;
  height: 70px;
}

.extended-button:hover{
  span {
    border-bottom: 4px solid var(--blanc);
  }
}

.see-details {
  border-bottom: 4px solid var(--green-light);
}

.see-details:hover {
  font-size: 1.1rem;
  color: var(--grey);
  border-bottom: 4px solid var(--primary);
}

.valid-icon {
  height: 34px;
  width: 34px;
}

@media (width <= 450px){
  .card, .card-extended-container{
    box-shadow: unset;
  }

  .card, .card-reduced, .card-image-div, .card-image, .card-body{
    width: 100%;
  }

  .close-extended {
    top: 10px;
    right: 10px;
  }
}
