<div class="popup" id="popup-bigImage">

  <div (click)="close()">
    <img alt="menu"
      class="close-popup"
      src="assets/icons/cancel_white.png"
      title="Ouvrir/Fermer la recherche avancée">
    </div>

    <div id="bigImage-body-container">
      <div id="bigImage-upper-section">
        <div id="bigImage-left-section">
          @if(obs.images.length > 1){
            <img alt="chevron gauche"
              class="bigImage-chevron"
              src="assets/icons/chevron_left_white.svg"
              title="Image précédente"
              (click)="scrollSelectedImage('left')">
          }
        </div>

        <div id="bigImage-centre-section">
          <div id="bigImage-image-section">
            <a class="h-100" href="{{selectedImage['binaire.href']}}" target="_blank" title="cliquez pour ouvrir l'image originale dans un nouvel onglet">
              <img
                alt="{{obs.determination_ns}}"
                class="popup-full-image"
                src="{{selectedImage['binaire.href']}}"
                (error)="onImageError($event)">
            </a>
          </div>
          <div id="bigImage-image-subtitles-section">
            <div><img alt="Logo creative commons" src="assets/Creative_Commons.png"></div>
            <p class="text-white m-0 w-80">Image {{selectedImage['id_image']}}, {{nomScientifique}} par {{obs.auteur_nom}}, licence CC BY SA 2.0</p>
          </div>
        </div>

        <div id="bigImage-right-section">
          @if(obs.images.length > 1){
            <img alt="chevron droite"
              class="bigImage-chevron"
              src="assets/icons/chevron_right_white.svg"
              title="Image suivante"
              (click)="scrollSelectedImage('right')">
          }
        </div>
      </div>

      <div id="bigImage-lower-section">
        @if(carouselOverflow){
          <img alt="Scroll left" class="scroll-icon" src="assets/icons/chevron_left_white.svg" (click)="scrollImages('left')">
        }

        <div #bigImageCarousel id="bigImage-carousel">
          @for (image of images; track image; let i = $index) {
            <div
              class="thumbnail"
              [class.selected]="image === selectedImage"
              (click)="changeSelectedImage(image)">
              <img alt="Image de l'observation" height="90" width="115" [src]="image['binaire.href']">
            </div>
          }
        </div>

        @if(carouselOverflow){
          <img alt="Scroll right" class="scroll-icon" src="assets/icons/chevron_right_white.svg" (click)="scrollImages('right')">
        }
      </div>
    </div>
  </div>
