<div id="popup-bigImage" class="popup">

  <div (click)="close()">
    <img class="close-popup"
         alt="menu"
         title="Ouvrir/Fermer la recherche avancée"
         src="assets/icons/cancel_white.png">
  </div>

  <div id="bigImage-body-container">
    <div id="bigImage-upper-section">
      <div id="bigImage-left-section">
        @if(obs.images.length > 1){
        <img class="bigImage-chevron"
             alt="chevron gauche"
             title="Image précédente"
             src="assets/icons/chevron_left_white.svg"
             (click)="scrollSelectedImage('left')">
        }
      </div>

      <div id="bigImage-centre-section">
        <div id="bigImage-image-section">
          <a target="_blank" href="{{selectedImage['binaire.href']}}" title="cliquez pour ouvrir l'image originale dans un nouvel onglet" class="h-100">
            <img
              class="popup-full-image"
              alt="{{obs.determination_ns}}"
              src="{{selectedImage['binaire.href']}}"
              (error)="onImageError($event)">
          </a>
        </div>
        <div id="bigImage-image-subtitles-section">
          <div><img src="assets/Creative_Commons.png" alt="Logo creative commons"></div>
          <p class="text-white m-0 w-80">Image {{selectedImage['id_image']}}, {{nomScientifique}} par {{obs['auteur.nom']}}, licence CC BY SA 2.0</p>
        </div>
      </div>

      <div id="bigImage-right-section">
        @if(obs.images.length > 1){
        <img class="bigImage-chevron"
             alt="chevron droite"
             title="Image suivante"
             src="assets/icons/chevron_right_white.svg"
             (click)="scrollSelectedImage('right')">
        }
      </div>
    </div>

    <div id="bigImage-lower-section">
      @if(carouselOverflow){
      <img src="assets/icons/chevron_left_white.svg" alt="Scroll left" class="scroll-icon" (click)="scrollImages('left')">
      }

      <div id="bigImage-carousel" #bigImageCarousel>
        <div *ngFor="let image of images; let i = index"
             class="thumbnail"
             (click)="changeSelectedImage(image)"
             [class.selected]="image === selectedImage">
          <img [src]="image['binaire.href']" width="115" height="90" alt="Image de l'observation">
        </div>
      </div>

      @if(carouselOverflow){
      <img src="assets/icons/chevron_right_white.svg" alt="Scroll right" class="scroll-icon" (click)="scrollImages('right')">
      }
    </div>
  </div>
</div>
