<section id="contenu">
  @if(!isLoading){

    <app-pagination [entetes]="observationsEntete"></app-pagination>

    <div class="cards-container mt-2">
      @for (observation of observations; track observation.id_observation){
        <app-card
          [obs]="observation"
          id="{{observation.id_observation}}"
          [ngClass]="{'w-100': extendedObs.includes(observation.id_observation)}">
        </app-card>
      }
    </div>

  <div class="bottom-pagination">
    <app-pagination [entetes]="observationsEntete" [bottomPagination]="true"></app-pagination>
  </div>


  } @else {
<!--  Affichage du loader -->
    <div class="loader-container">
      <div class="loadership_COHKO">
        <div></div>
        <div></div>
      </div>
    </div>
  }

  @if (errorMessage){
    <p class="invalid-feedback">{{errorMessage}}</p>
  }
</section>
