#contenu {
  position: relative;
  min-height: 300px;
  padding-right: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: 2rem;
  flex-wrap: wrap;
  /*filter: drop-shadow(-10px 30px 80px var(--primary));*/
}

@media (768px < width <= 958px) {
  .cards-container {
    justify-content: center;
  }
}

@media (width <= 768px) {
  #contenu {
    padding: 0 1rem;
  }
}

@media (width <= 678px) {
  .cards-container {
    justify-content: center;
  }
}

@media (width <= 450px){

  app-card{
    width: 100%;
  }
}
