<div id="popup-detail-vote" class="popup">
  <div (click)="close()">
    <img class="close-popup"
         alt="close"
         title="Fermer le détail des votes"
         src="assets/icons/cancel_brown.png">
  </div>

  <div class="popup-body-container">
    <div class="popup-header">
      <h5 class="mb-2">{{nomScientifique}}</h5>
      <h6 class="mb-2 text-black">proposition de nom par {{commentaire['auteur.prenom']}} {{commentaire['auteur.nom']}}, le {{dateTransmission}}</h6>
      <p class="mb-2">Ces votes permettent de confirmer ou non une détermination proposée par un membre du réseau.<br>
         Vous pouvez changer à tout moment votre vote.<br>
         Une pondération s'opère pour le calcul des votes: vote en tant que membre identifié (3 points) / non identifié (1 point).</p>
    </div>
    <div class="popup-body">
      <h6 class="uppercase mb-2">Votes contre ({{contreStat}}%)</h6>
      @for (vote of votesGrouped.contre; track vote['vote.id']){
      <p class="font14">
        @if(!vote['auteur.nom']){
      Anonyme
      }
      {{vote['auteur.prenom']}} {{vote['auteur.nom']}} le {{vote.date}}
      </p>
      }

      <h6 class="uppercase mt-2 mb-2">Votes pour ({{pourStat}}%)</h6>
      @for (vote of votesGrouped.pour; track vote['vote.id']){
      <p class="font14">
        @if(!vote['auteur.nom']){
      Anonyme
      }
      {{vote['auteur.prenom']}} {{vote['auteur.nom']}} le {{vote.date}}
      </p>
      }
    </div>
  </div>

</div>
