<div id="search-section">
  <!--  search + label-->
  <div id="search-with-label">
    <label class="text-white mb-1" for="search-bar">Recherchez par espèce, genre, famille, département, commune, auteur, mot-clé.</label>
    <div id="searchBar">
      <div>
        <img alt="icone de recherche" class="search-icon" src="assets/icons/search.png" title="recherchez" (click)="updateSearch()">
      </div>
      <input class="search-bar"
        id="search-bar"
        placeholder="Recherchez une plante à identifier"
        type="text"
        [value]="search"
        (keyup)="onPageInputKeyup($event)">
      <div>
        <img alt="cancel icon"
          class="cancel-icon"
          src="assets/icons/cancel_brown.png"
          title="Effacer la recherche"
          (click)="resetSearch()">
        </div>
      </div>
    </div>

    <!--  Advanced search-->
    <div id="advanced-search-notopened">
      <span class="text-white">Recherche avancée</span>
      @if(!displayAdvancedPopup){
        <img alt="Recherche avancée icone"
          class="advanced-search-icon"
          height="40"
          src="assets/icons/chevron_down.png"
          title="Ouvrir l'onglet de recherche avancée"
          width="40"
          (click)="openAdvancedSearchPopUp()">
      } @else {
        <img alt="Recherche avancée icone"
          class="advanced-search-icon"
          height="40"
          src="assets/icons/chevron_up_white.png"
          title="Fermer l'onglet de recherche avancée"
          width="40"
          (click)="openAdvancedSearchPopUp()">
      }
    </div>

    @if (displayAdvancedPopup) {
      <app-popup-advanced-search
        class="w-100" (closePopupEmitter)="closeAdvancedSearchPopUp()" />
    }
  </div>
