<div id="search-section">
  <!--  search + label-->
  <div id="search-with-label">
    <label for="search-bar" class="text-white mb-1">Recherchez par espèce, genre, famille, département, commune, auteur, mot-clé.</label>
    <div id="searchBar">
      <div>
        <img (click)="updateSearch()" class="search-icon" title="recherchez" src="assets/icons/search.png" alt="icone de recherche">
      </div>
      <input class="search-bar"
        id="search-bar"
        [value]="search"
        (keyup)="onPageInputKeyup($event)"
        type="text"
        placeholder="Recherchez une plante à identifier">
      <div>
        <img (click)="resetSearch()"
          class="cancel-icon"
          alt="cancel icon"
          title="Effacer la recherche"
          src="assets/icons/cancel_brown.png">
        </div>
      </div>
    </div>

    <!--  Advanced search-->
    <div id="advanced-search-notopened">
      <span class="text-white">Recherche avancée</span>
      @if(!displayAdvancedPopup){
        <img (click)="openAdvancedSearchPopUp()"
          class="advanced-search-icon"
          alt="Recherche avancée icone"
          title="Ouvrir l'onglet de recherche avancée"
          src="assets/icons/chevron_down.png"
          width="40"
          height="40">
      } @else {
        <img (click)="openAdvancedSearchPopUp()"
          class="advanced-search-icon"
          alt="Recherche avancée icone"
          title="Fermer l'onglet de recherche avancée"
          src="assets/icons/chevron_up_white.png"
          width="40"
          height="40">
      }
    </div>

    @if (displayAdvancedPopup) {
      <app-popup-advanced-search
        (closePopupEmitter)="closeAdvancedSearchPopUp()" class="w-100">
      </app-popup-advanced-search>
    }
  </div>
