<section id="top-section">
  <div id="search-area" class="flex-between">
    <app-search-bar id="intro-left"></app-search-bar>
    <div id="intro-right">
      <img id="flower-intro" src="assets/img/flower.png" alt="fleur">
    </div>
  </div>

  <div id="determination-aide">

    @if(isDetail){
    <div>
      <a href="{{urlParamsString}}" class="text-white" title="retourner à la liste des observations">
        <button class="button-primary">
          <img src="assets/icons/chevron_left_brown.png" class="icon-button">
          <span>Retour</span>
        </button>
      </a>
    </div>
    }

    <div>
      <a [href]="proposezObservationLink"
         class="button-link"
         target="_blank"
         title="Proposez une observation à déterminer">
        <button class="button-secondary">
          <img src="assets/icons/external-link.png" class="icon-button">
          <span>Proposez une observation à déterminer</span>
        </button>
      </a>
    </div>

    <div>
      <a href="http://www.tela-botanica.org/page:liste_projets?id_projet=95&act=wikini"
         class="button-link"
         target="_blank"
         title="Aide">
        <button class="button-secondary">
          <img src="assets/icons/external-link.png" class="icon-button">
          <span>Aide</span>
        </button>
      </a>
    </div>

  </div>
</section>
