#top-section {
  /*padding-right: 1rem;*/
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  height: 225px;
}

#intro-left {
  width: 50%;
  background: var(--gradient-card);
  border-radius: 16px;
}

#intro-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;

  a {
    color: var(--blanc);
  }
}

@media (width <= 1080px){
  #intro-left {
    width: 100%;
  }

  #intro-right {
    min-height: 100px;
  }

  .intro-text {
    margin: 1rem;
  }
}

@media (width <= 768px) {
  #top-section{
    padding: 0 1rem;
  }
}
