<div id="top-section">
  <div id="intro-left">
    <p class="intro-text">Cet espace vous permet d'échanger sur la détermination d'espèces.</p>
    <p class="intro-text">Vous ne parvenez pas à déterminer une plante ? <br />
       Soumettez-la aux membres du réseau.</p>
    <p class="intro-text">Vous avez relevé des erreurs dans les images soumises par le réseau ? <br />
       Postez un commentaire ou proposez une nouvelle détermination.</p>
  </div>

  <div id="intro-right" class="flex-start-column">
    <button class="button-selected"><a [href]="proposezObservationLink" target="_blank" title="Proposez une observation à déterminer">Proposez une observation à déterminer</a></button>
    <div>Barre de recherche</div>
  </div>
</div>
