<section id="top-section">
  <div id="search-area" class="flex-between">
    <app-search-bar id="intro-left"></app-search-bar>
    <div id="intro-right">
      <img id="flower-intro" src="assets/img/flower.png" alt="fleur">
    </div>
  </div>

  <div id="determination-aide">
    <div>
      <button class="button-secondary">
        <img src="assets/icons/external-link.png" class="icon-button">
        <a [href]="proposezObservationLink" target="_blank" title="Proposez une observation à déterminer">Proposez une observation à déterminer</a>
    </button>
    </div>

    <div>
      <button class="button-secondary">
        <img src="assets/icons/external-link.png" class="icon-button">
        <a href="http://www.tela-botanica.org/page:liste_projets?id_projet=95&act=wikini" target="_blank" title="Aide">Aide</a>
      </button>
    </div>

  </div>
</section>
