#top-section {
  width: 100%;
  margin-bottom: 2rem;
}

#intro-left {
  width: 80%;
}

#intro-right {
  height: 110px;
}

#flower-intro {
  height: 100%;
}

#determination-aide {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

@media (width <= 1080px){
  #intro-left {
    width: 100%;
  }

  #intro-right {
    display: none;
  }

  .intro-text {
    margin: 1rem;
  }
}

@media (width <= 768px) {
  #top-section{
    padding: 0 1rem;
  }
}
