<section id="main">
  <app-menu class="" id="menu" />

  <section id="content">
    <div id="content-div">

      <app-header />

      <app-top-section />

      @if (isDetail) {
        <app-detail />
      } @else {
        @if (isComparateur) {
          <app-comparateur />
        } @else {
          <app-contenu />
        }
      }



      <img alt="up icon"
        class="up-icon"
        src="assets/icons/chevron_up_brown.png"
        title="retourner en haut de la page"
        [ngClass]="{'visible': showUpIcon}"
        (click)="scrollToTop()">

    </div>

    @defer (on immediate){
    <app-footer />
  }
</section>

</section>
