<noscript>
  <p style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
    <span class="attention">ATTENTION : </span>
    il semblerait que le Javascript ne soit pas activé sur votre navigateur.
    Veuillez l'activer pour utiliser cette application.
  </p>
</noscript>

<app-header></app-header>

<section id="main">
  <div id="zoneLiens"></div>
</section>

<section id="contenu">

</section>

<app-footer></app-footer>

<router-outlet />
