.icon-div{
  height: 25px;
  width: 25px;
  background-color: var(--primary);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

.pageNumber-input {
  max-width: 50px;
  padding: 0 1rem;
  height: 40px;
}

.tri-div {
  height: 40px;
  /*margin-bottom: 2rem;*/
  border-bottom: 2px dashed var(--brown30);
}

.tri {
  cursor: pointer;
}

.tri:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid var(--darkBrown);
}

.active-tri {
  border-bottom: 4px solid var(--primary);
}

.ordre-icon {
  width: 30px;
  height: 30px;
}
