<div class="flex-start mb-1">
  <p style="margin: 0">{{entetes.total}} résultats</p>

  @if (entetes['href.precedent']) {
    <div aria-label=”Pagination” class="icon-div" role=”navigation” (click)="goToFirstPage()">
      <img alt="1" class="icon" src="assets/icons/first_page_white.png" title="1er page">
    </div>
  }

  @if (entetes['href.precedent']) {
    <div aria-label=”Pagination” class="icon-div" role=”navigation” (click)="previousPage()">
      <img alt="1" class="icon" src="assets/icons/chevron_left_white.png" title="page précédente">
    </div>
  }

  <p class="m-0"><label for="pageNumber-input"> Page: </label>

  <input aria-label=”Pagination” class="pageNumber-input" id="pageNumber-input" max="{{lastPage}}" min="1" role=”navigation” type="number" [value]="page" (keyup)="onPageInputKeyup($event)">
  <span> / {{lastPage}}</span></p>

  @if (entetes['href.suivant']) {
    <div aria-label=”Pagination” class="icon-div" role=”navigation” (click)="nextPage()">
      <img alt="1" class="icon" src="assets/icons/chevron_right_white.png" title="page précédente">
    </div>
  }

  @if (entetes['href.suivant']) {
    <div aria-label=”Pagination” class="icon-div" role=”navigation” (click)="goToLastPage()">
      <img alt="1" class="icon" src="assets/icons/last_page_white.png" title="page précédente">
    </div>
  }

  <div>
    <select id="pas" [ngModel]="pas" (ngModelChange)="onPasChange($event)">
      <option value="12">12</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
    <label for="pas"> par page</label>
  </div>

</div>
@if (!bottomPagination) {
  <div class="flex-start tri-div">
    <div class="flex-center gap-0-5" (click)="commonService.sortObsBy('date_observation')">
      <span class="tri"
        title="tri par date d'observation"
        [ngClass]="{'active-tri': tri === 'date_observation'}">
        @if(tri !== 'date_observation' || ordre === 'desc'){
          Récemment observées
        } @else {
          Anciennement observées
        }
      </span>
      @if (tri === 'date_observation') {
        <img
          class="ordre-icon"
          [src]="ordre === 'desc' ? 'assets/icons/keyboard_arrow_down_green.png' : 'assets/icons/keyboard_arrow_up_green.png'"
          [title]="ordre === 'desc' ? 'tri par ordre décroissant' : 'tri par ordre croissant'">
      }
    </div>
    <div class="flex-center gap-0-5" (click)="commonService.sortObsBy('date_transmission')">
      <span class="tri"
        title="tri par date de transmission"
        [ngClass]="{'active-tri': tri === 'date_transmission'}">
        @if(tri !== 'date_transmission' || ordre === 'desc'){
          Récemment transmises
        } @else {
          Anciennement transmises
        }
      </span>
      @if (tri === 'date_transmission') {
        <img
          class="ordre-icon"
          [src]="ordre === 'desc' ? 'assets/icons/keyboard_arrow_down_green.png' : 'assets/icons/keyboard_arrow_up_green.png'"
          [title]="ordre === 'desc' ? 'tri par ordre décroissant' : 'tri par ordre croissant'">
      }
    </div>
    <div class="flex-center gap-0-5" (click)="commonService.sortObsBy('nb_commentaires')">
      <span class="tri"
        title="tri par le nombre de commentaires"
        [ngClass]="{'active-tri': tri === 'nb_commentaires'}">
        @if(tri !== 'nb_commentaires' || ordre === 'desc'){
          Le + de commentaires
        } @else {
          Le - de commentaires
        }
      </span>
      @if (tri === 'nb_commentaires') {
        <img
          class="ordre-icon"
          [src]="ordre === 'desc' ? 'assets/icons/keyboard_arrow_down_green.png' : 'assets/icons/keyboard_arrow_up_green.png'"
          [title]="ordre === 'desc' ? 'tri par ordre décroissant' : 'tri par ordre croissant'">
      }
    </div>
  </div>
}
