<div id="login">
  @if(!isLoggedIn){
    <h2 class="connexion font14" (click)="openLoginPopup()">Connexion</h2>
  } @else {
    <div class="flex-between no-wrap">
      <p>{{displayName}}</p>
      <div><button class="button-primary" (click)="logout()"><span>Se déconnecter</span></button></div>
    </div>
  }

  @if (loginPopup) {
    <div class="blur-background">
      @if (loginPopup) {
        <div class="popup" id="loginPopup">
          <div class="close-section" (click)="closeLoginPopup()">
            <img alt="menu" class="close-popup" src="assets/icons/cancel_white.png" title="Ouvrir/Fermer le menu">
          </div>
          <form #f="ngForm"
            class="flex-center-column"
            [formGroup]="loginForm"
            (ngSubmit)="f.form.valid && onSubmit()">
            <h4 class="mb-1">Connectez vous !</h4>
            <div class="w-80 flex-between no-wrap">
              <input class="input-text"
                formControlName="username"
                name="username"
                placeholder="email"
                type="username"
                [class.input-empty]="!loginForm.get('username')?.value"
                [class.input-filled]="loginForm.get('username')?.value">
              @if (!loginForm.get('username')?.valid && f.submitted) {
                <div class="invalid-feedback w-100">
                  Le nom d'utilisateur est obligatoire !
                </div>
              }
            </div>
            <div class="w-80 flex-between no-wrap">
              <input class="input-text"
                formControlName="password"
                placeholder="Mot de passe"
                type="password"
                [class.input-empty]="!loginForm.get('password')?.value"
                [class.input-filled]="loginForm.get('password')?.value">
              @if (!loginForm.get('password')?.valid && f.submitted) {
                <div class="invalid-feedback w-100">
                  Un mot de passe est obligatoire !
                </div>
              }
            </div>
            <div class="w-80 flex-center no-wrap">
              <button class="button-accent"><span>Se connecter</span></button>
              @if (f.submitted && globalError) {
                <div class="invalid-feedback">
                  <p>{{globalError}}, veuillez vérifier vos identifiants</p>
                </div>
              }
            </div>
          </form>
          <hr class="mt-2">
          <div class="flex-center-column">
            <h4 class="mb-1">Pas encore de compte ?</h4>
            <div>
              <button class="button-accent"><a href="{{inscriptionUrl}}" target="_blank">S'inscrire</a></button>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
