#login {
  height: 60px;
}

.connexion {
  width: 100%;
  text-align: end;
  cursor: pointer;
}

.connexion:hover {
  border-bottom: 4px solid var(--darkBrown);
}

.close-section {
  width: 100%;
  height: 70px;
}
