<div class="flex-center-column">
  <h6 *ngIf="!isLoggedIn" class="w-100 mt-0-5 mb-1">Identifiez vous</h6>

  <div class="w-100">
    <div *ngIf="!isLoggedIn" class="mb-2">
      <a href="{{inscriptionUrl}}" target="_blank">S'inscrire</a>
    </div>

    <form *ngIf="!isLoggedIn"
          class="flex-start-column"
          [formGroup]="loginForm"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm">
      <input name="username" type="username" formControlName="username" placeholder="email" class="">
      <div *ngIf="!loginForm.get('username')?.valid && f.submitted" class="invalid-feedback w-100">
        Le nom d'utilisateur est obligatoire !
      </div>

      <input type="password" formControlName="password" placeholder="Mot de passe" class="">
      <div *ngIf="!loginForm.get('password')?.valid && f.submitted" class="invalid-feedback w-100">
        Un mot de passe est obligatoire !
      </div>

      <button class="button-selected">OK</button>

      <div *ngIf="f.submitted && globalError" class="invalid-feedback">
        <p>Erreur: {{globalError}}</p>
      </div>
    </form>

    <div *ngIf="isLoggedIn">
      <p>{{displayName}}</p>
      <div>
        <button class="button-selected" (click)="logout()">Se déconnecter</button>
      </div>
    </div>
  </div>
</div>
