<section class="flex-center" id="comparateur">
  <button class="button-selected"><a href="{{urlParamsString}}#obs~{{obs.id_observation}}" title="retour au détail de l'observation">Retour</a></button>
  <div id="comparateur-gauche">
    <div class="comparateur-image-container">
      <div class="comparateur-image-selected">
        @if(imageSelected){
        <img
          alt="{{nomScientifique}}"
          class="comparateur-image"
          src="{{imageSelected['binaire.href']}}"
          style="cursor: pointer;"
          (click)="openBigImage()">
        }
        <p>{{nomScientifique}} observée le {{dateObservation}} par {{obs.auteur_nom}}</p>

      </div>
    </div>
<!--    TODO ajouter infos obs-->
  </div>

  <div id="comparateur-droit">
    <div class="comparateur-image-container">
<!--     TODO carousel-->
      <div class="comparateur-image-selected">
        @if (imagesList.length > 0){
          <img alt="" class="comparateur-image"  src="{{imagesList[0]['binaire.href']}}">
          <p>{{imagesList[0]["observation"]["determination.ns"]}} observée par {{imagesList[0]["observation"]["auteur.nom"]}}</p>
        }
      </div>
    </div>
  </div>

  @if (popupBigImage){
  <app-popup-big-image
    [obs]="obs"
    [selectedImage]="imageSelected"
    (closePopupEmitter)="closeBigImagePopup()" />
  }


</section>
