@for (commentaire of commentaires; track commentaire) {
  <div class="commentaire-container" [ngStyle]="{'margin-left.px': niveau * 20}">
    @if(commentaire.texte){
      <div
        class="flex-column-start mb-1"
    [ngClass]="{
        'reponse': niveau > 0,
        'proposition-com': niveau == 0 && !isComLibre,
        'com-libre': isComLibre
    }">
        <p class="font-16 text-black">Par {{commentaire['auteur.prenom']}} {{commentaire['auteur.nom']}}, le {{commentaire.displayDate}}</p>
        <p class="card-texte">{{ commentaire.texte }}</p>
        @if(userId && userId == commentaire['auteur.id'] && !commentaire.reponses){
          <img alt="menu"
            class="delete-comment"
            src="assets/icons/cancel_brown.png"
            title="Supprimer le commentaire"
            (click)="affichagePopupConfirmation(commentaire.id_commentaire)">
          }
          @if(commentaire.texte ){
            <div class="flex-end mt-1">
              <p class="commentaire-repondre" (click)="openAddComment('reponse', commentaire.id_commentaire)"><span class="button-text">Répondre</span></p>
            </div>
          }
        </div>
      }
      @if (commentaire.reponses) {
        <div>
          <app-commentaire [commentaires]="commentaire.reponses" [niveau]="niveau + 1" />
        </div>
      }
      @if (popupAddComment && popupAddCommentId == commentaire.id_commentaire){
        <app-popup-ajout-commentaire
          class="blur-background"
          [commentType]="commentType"
          [id_parent]="commentaire.id_commentaire"
          [obsId]="commentaire.observation"
          [proposition]="commentaire.proposition"
          (closePopupEmitter)="closeAddComment()" />
    }
    @if(showWarningPopup && warningPopUpId == commentaire.id_commentaire){
      <div class="warning-popup">
        <p>Etes-vous sûr de vouloir supprimer ce commentaire ?</p>
        <p class="text-black">"{{commentaire.texte}}"</p>
        <p>Cliquez sur OK pour le supprimer malgré tout, ou sur Annuler pour retourner sur le détail de l'observation.</p>
        <div class="flex-between">
          <button class="button-secondary" type="button" (click)="cancelDeleteComment()">Annuler</button>
          <button class="button-primary" type="button" (click)="confirmerDeleteComment(commentaire.id_commentaire)">OK</button>
        </div>
      </div>
    }
  </div>
}

@if(deleteCommentErrorMessage){
  <div><p class="invalid-feedback">{{deleteCommentErrorMessage}}</p></div>
}



