.commentaire-container {
  position: relative;
}

.reponse, .com-libre, .proposition-com {
  min-height: 50px;
  padding: 1rem;
  border-radius: 16px;
}

.reponse {
  /*background-color: var(--purple);*/
  background-color: var(--background-blanc);
  box-shadow: 10px 10px 8px 0 var(--brown40), 0 6px 20px 0 var(--brown30);
}

.com-libre {
  /*background-color: var(--blue);*/
  background-color: var(--background-blanc);
  box-shadow: 10px 10px 8px 0 var(--brown40), 0 6px 20px 0 var(--brown30);
}

.proposition-com {
  /*background-color: var(--rose);*/
  background-color: var(--background-blanc);
  box-shadow: 10px 10px 8px 0 var(--brown40), 0 6px 20px 0 var(--brown30);
}

.commentaire-repondre {
  margin: 0;
  padding: 0 1rem;
  line-height: 25px;
  text-transform: uppercase;
  cursor: pointer;
  text-weight: bold;
  color: var(--black);
}

.delete-comment {
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}

@media (width <= 390px) {
  .commentaire-container {
    margin-left: 0 !important;
  }
}
