<div class="popup" id="popup-addComment">

  <div (click)="close()">
    <img alt="menu"
      class="close-popup"
      src="assets/icons/cancel_brown.png"
      title="Ouvrir/Fermer la recherche avancée">
    </div>

    <div class="popup-body-container">
      <div class="popup-header">
        <div>
          @if (commentType === 'determination'){
            <h5>Proposer une détermination</h5>
          } @else {
            <h5>Ajouter un commentaire</h5>
          }
          <p>Les informations obligatoires sont indiquées par une astérisque</p>
        </div>

        <div>
          <h5 class="uppercase">Vous</h5>
          @if(user){
            <p>Vous êtes connecté.e en tant que {{user.intitule}} </p>
          } @else {
            <p>Vous n'êtes pas connecté.e.</p>
            <!--      <p><app-login class=""></app-login> ou remplissez les informations suivantes</p>-->
            <p>Connectez-vous ou remplissez les informations suivantes</p>
          }
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="popup-body">
          <div class="form-group">
            <label for="nom" >Nom *</label>
            <input formControlName="nom" id="nom" required type="text">
            @if (form.controls['nom'].invalid && form.controls['nom'].touched || form.controls['nom'].invalid && submitted) {
              <div class="invalid-feedback">
                Un nom est requis.
              </div>
            }
          </div>
          <div class="form-group">
            <label for="prenom" >Prénom *</label>
            <input formControlName="prenom" id="prenom" required type="text">
            @if (form.controls['prenom'].invalid && form.controls['prenom'].touched || form.controls['prenom'].invalid && submitted) {
              <div class="invalid-feedback">
                Un prénom est requis.
              </div>
            }
          </div>
          <div class="form-group">
            <label for="courriel">Email *</label>
            <input formControlName="courriel" id="courriel" required type="courriel">
            @if (form.controls['courriel'].invalid && form.controls['courriel'].touched || form.controls['courriel'].invalid && submitted) {
              <div class="invalid-feedback">
                Une adresse email valide est requise.
              </div>
            }
          </div>

          @if (commentType === 'determination'){
            <h5 class="mt-2 mb-1 uppercase">Proposer un nom de plante</h5>
            <div class="form-group">
              <label for="referentiel">Référentiel taxonomique</label>
              <select formControlName="referentiel" id="referentiel">
                @for(referentiel of referentiels; ; track referentiel.code){
                  <option [value]="referentiel.code">
                    {{ referentiel.nom }}
                  </option>
                }
              </select>
            </div>

            <div class="form-group">
              <label for="nom_sel" >Taxon - Tapez les premières lettres d'un nom latin pour voir apparaitre des propositions *</label>
              <input formControlName="nom_sel" id="nom_sel" required type="text" (input)="clearNomSelNn()">
              @if (form.controls['nom_sel'].invalid && form.controls['nom_sel'].touched || form.controls['nom_sel'].invalid && submitted) {
                <div class="invalid-feedback">
                  Taxon est requis.
                </div>
              }

              @if (taxonsList && taxonsList.length > 0) {
                <ul class="propositions-list">
                  @for (proposition of taxonsList; track proposition) {
                    <li (click)="selectProposition(proposition)">
                      {{ proposition.ns }}
                    </li>
                  }
                </ul>
              }

            </div>

            <div >
              <!--            <label for="texte">Commentaire :</label>-->
              <h5 class="mt-2 uppercase">Commentaire</h5>
              <textarea formControlName="texte" id="texte"></textarea>
            </div>

          } @else {
            <div>
              <!--          <label for="texte">Commentaire * </label>-->
              <h5 class="mt-2 uppercase">Commentaire *</h5>
              <textarea formControlName="texte" id="texte" required></textarea>
              @if (form.controls['texte'].invalid && form.controls['texte'].touched || form.controls['texte'].invalid && submitted) {
                <div class="invalid-feedback">
                  Un commentaire est requis.
                </div>
              }
            </div>
          }

          @if(showWarningPopup){
            <div class="warning-popup">
              <p>Attention : le taxon saisi n'est pas lié à un élément du référentiel.
                La proposition pourra être votée mais pas acceptée par l'auteur de l'observation.
              Avez-vous sélectionné le nom à partir de l'auto completion ?</p>
              <p>Cliquez sur OK pour valider malgré tout, ou sur Annuler pour corriger votre proposition.</p>
              <button type="button" (click)="confirmSubmit()">OK</button>
              <button class="button-selected" type="button" (click)="cancelSubmit()">Annuler</button>
            </div>
          }
        </div>
        <div class="submit-section">
          <button class="button-primary" type="submit"><span>Envoyer</span></button>
        </div>


        @if(commentErrorMessage){
          <div><p class="invalid-feedback">{{commentErrorMessage}}</p></div>
        }


      </form>


    </div>
  </div>
