.propositions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
}

.propositions-list li {
  padding: 8px;
  cursor: pointer;
}

.propositions-list li:hover {
  background-color: #f0f0f0;
}

.warning-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanc);
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.warning-popup p {
  margin: 10px 0;
}

.warning-popup button {
  margin-right: 10px;
}
