#popup-addComment {
  height: 95%;
  width: 70%;
  top: 2%;
  left: 15%;
}

.popup-body {
  padding: 1rem;
}

.form-container, .popup-header {
  background-color: var(--background-blanc);
  padding: 1rem 5rem;
}

.propositions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99;
}

.propositions-list li {
  padding: 8px;
  cursor: pointer;
}

.propositions-list li:hover {
  background-color: #f0f0f0;
}

.submit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

/*TODO*/
