:root {
  --static: rgba(0, 0, 0, 0.5);
  --xsmall: 390px;
  --small: 768px;
  --medium: 1024px;
  --large: 1280px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: var(--background-blanc);
  color: var(--text);
}
body {
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 0.8rem; /* 12px */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  color: var(--text);
  /*padding: 0 1rem;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*  text-transform: capitalize;*/
/*}*/

h1 {
  font-size: 1.8rem; /* 28px */
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.3rem;/* 20px */
}

h4 {
  font-size: 1.1rem; /* 18px */
}

h5 {
  font-size: 1rem; /* 16px */
}

h6 {
  font-size: 0.9rem; /* 14px */
}

a {
  text-decoration: none;
  color: var(--text);
}

.font14{
  font-size: 0.9rem; /* 14px */
}

.font12{
  font-size: 0.8rem
}

.font11{
  font-size: 0.7rem
}

.font10{
  font-size: 0.6rem
}

p {
  margin: 0 0 1rem;
}

button {
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  color: var(--brown);
  border: none;
  word-wrap: break-word; /* Permet de casser les mots trop longs */
  white-space: normal;   /* Permet le retour à la ligne du texte */
  text-align: center;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  a:hover {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--darkBrown);
  }
}

ul {
  list-style: none outside none;
}

hr {
  border: none;
  border-bottom: solid 1px #DDD;
  border-top: solid 1px #AAA
}

select {
  height: 40px;
  border-radius: 10px;
  padding: 0 1rem;
  color: var(--brown);
  background-color: var(--blanc);
}

select option {
  background-color: var(--blanc);
  color: var(--brown);
}

/* Survol des options: ne marche pas dans chrome */
select option:hover {
  background-color: var(--brown);
  color: var(--blanc);
}

/* Option sélectionnée: n'a pas l'air de marcher dans firefox */
select option:checked {
  background-color: var(--brown);
  color: var(--blanc);
}

input {
  width: -webkit-fill-available;
  height: 40px;
  border-radius: 10px;
  padding: 0 1rem 0 2.5rem;
}

input[type="number" i] {
  padding-inline: 0;
  padding-block: 0;
  border-width: 1px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--brown);
  border: 2px solid var(--blanc);
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0 1rem;
}

input[type="checkbox"]:checked {
  background-color: var(--brown);
  border: 2px solid var(--blanc);
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 12px;
  width: 6px;
  height: 12px;
  border: solid var(--blanc);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

textarea {
  height: 80px;
  width: calc(100% - 2rem);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  border: 2px solid var(--black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--blanc) inset !important;
  box-shadow: 0 0 0 1000px var(--blanc) inset !important;
  -webkit-text-fill-color: #000 !important;
}

input::placeholder {
  color: var(--brown); /* Couleur du placeholder lorsque l'input est vide */
}

.input-filled {
  background-color: var(--blanc) !important; /* Exemple de couleur lorsque l'input est rempli */
}

.input-empty::placeholder {
  color: var(--brown) !important; /* Exemple de couleur du placeholder lorsque l'input est vide */
}

.input-text {
  height: 40px;
  border-radius: 10px;
  padding: 0 1rem;
  background-color: var(--background-blanc);
}

.underline {
  text-decoration: underline;
}

.text-white {
  color: var(--blanc);
}

.text-black {
  color: var(--black);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.gap-0-5{
  gap: 0.5rem;
}

.gap-1{
  gap: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.m-0 {
  margin: 0;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-ml-1{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mr-ml-2{
  margin-left: 2rem;
  margin-right: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.p-1{
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2{
  padding-left: 2rem;
}

.pr-1-5 {
  padding-right: 1.5rem;
}

.border-30 {
  border-radius: 30px;
}

.hidden {
  display: none;
}

.justify {
  text-align: justify;
}

.w-100 {
  width: 100%;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-80 {
  width: 80%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.invalid-feedback{
  height: 30px;
  background-color: var(--error-color);
  padding: 0.5rem;
  color: var(--error-text);
  border-radius: 20px;
}

#container {
  width: 100%;
  display: flex;
}

.button-primary {
  background-color: var(--brown);
  color: var(--blanc);
  a:hover {
    border-bottom: 4px solid var(--blanc);
  }
}

.button-selected {
  background-color: var(--secondary);
  color: var(--blanc);
  a:hover {
    border-bottom: 4px solid var(--blanc);
  }
}

.button-secondary {
  background-color: var(--background);
  color: var(--text);
  a:hover {
    border-bottom: 4px solid var(--text);
  }
}

.button-accent {
  background-color: var(--background-blanc);
  color: var(--text);
  a:hover {
    border-bottom: 4px solid var(--text);
  }
}

.large-button {
  max-width: 250px;
}

.icon-button {
  margin-right: 1rem;
}

.button-text:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid var(--darkBrown);
}

.form-group, .form-group-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-group-checkbox {
  flex-direction: row;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.thumbnail {
  flex: 0 0 auto;
  margin: 5px;
  cursor: pointer;
  height: 90px;
}

.thumbnail img {
  width: 115px;
  height: 100%;
  object-fit: cover;
}

.thumbnail.selected {
  border: 4px solid var(--background-blanc);
}

.scroll-icon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

@media (width <= 768px) {
  .form-group{
    align-items: stretch;
  }
}
