<div class="burger-logo-div" (click)="toggleMenu()" [class.is-open]="isMenuOpen">
  <img class="burger-logo" alt="menu" title="page précédente" src="assets/icons/{{ isMenuOpen ? 'close_white' : 'menu_black'}}.png">
</div>

<nav class="nav-div" [class.is-open]="isMenuOpen">
  <div class="menu-div">
    <a id="ip-image" href="{{baseUrl}}" title="Accueil"><img class="w-100" src="assets/img/logos/logo_ip.png"></a>

    <div class="onglets-div">
      <div [class.onglet-selected]="selectedOnglet === 'tous'"
           class="onglet"
           (click)="handleButtonClick('tous')">Toutes les observations
      </div>
      <div [class.onglet-selected]="selectedOnglet === 'adeterminer' || selectedOnglet === ''"
           class="onglet"
           (click)="handleButtonClick('adeterminer')">A determiner
      </div>
      <div [class.onglet-selected]="selectedOnglet === 'aconfirmer'"
           class="onglet"
           (click)="handleButtonClick('aconfirmer')">
        A vérifier
      </div>
      <div [class.onglet-selected]="selectedOnglet === 'validees'"
           class="onglet"
           (click)="handleButtonClick('validees')">
        Vérifiées
      </div>
      @if (userId){
      <div [class.onglet-selected]="selectedOnglet === 'monactivite'"
            class="onglet"
            (click)="handleButtonClick('monactivite')">
          Mon activité
      </div>
      }
    </div>

    <app-login class="mb-2 mr-ml-1"></app-login>
  </div>
</nav>
