.nav-div {
  gap: 1rem;
  height: 100%;
  position: fixed;
  /*width: 20%;*/
  max-width: 200px;
  background-color: var(--background);
}

.menu-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.burger-logo-div {
  display: none;
  height: 50px;
  position: fixed;
  margin: 0.5rem 1rem 0 1rem;
  z-index: 20;
  background-color: var(--background-blanc);
}

.burger-logo {
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 20;
}

#ip-image {
  display: block;
  height: fit-content;
}

.onglets-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.onglet {
  padding: 0 1rem;
  height: 80px;
  align-content: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform .2s;
  font-weight: bold;
  font-size: 1.1rem;
}

.onglet:hover{
  background: var(--background-blanc);
  padding: 10px 0 0 20px;
}

.onglet-selected{
  background: var(--background-blanc);
  border: 3px dashed var(--brown30);
}

.logos-section {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 10px;
  overflow: hidden;
}

.logo-tela, .logo-pn {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s ease;
  }
}

.logo-tela {
  height: 23px;
}

.logo-pn {
  height: 18px;
}

.logo-tela:hover, .logo-pn:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid var(--darkBrown);
}

@media (width <= 1080px){
  .logos-section {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .logo-tela {
    height: 40px;
  }

  .logo-pn {
    height: 35px;
  }

  .logo-tela:hover, .logo-pn:hover {
    padding-bottom: 0;
    border-bottom: none;

    padding-left: 5px;
    border-left: 4px solid var(--darkBrown);
  }
}

@media (width <= 768px) {
  .nav-div {
    display: none;

    &.is-open {
       display: flex;
       top: 0;
       left: 0;
       width: 100%;
       padding: 0;
       max-width: none;
       height: 100%;
       z-index: 10;
     }
  }

.burger-logo-div {
  display: block;

  &.is-open {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 11;
   }
}

.menu-div {
  margin: 0 0 0 50px;
  width: 70%;
  padding-left: 5%;
}

}
