<div class="burger-logo-div" [class.is-open]="isMenuOpen" (click)="toggleMenu()">
  <img alt="menu" class="burger-logo" height="50" src="assets/icons/{{ isMenuOpen ? 'cancel_brown' : 'menu_black'}}.png" title="Ouvrir/Fermer le menu" width="50">
</div>

<nav class="nav-div" [class.is-open]="isMenuOpen">
  <div class="menu-div">
    <a href="{{baseUrl}}" id="ip-image" title="Accueil"><img alt="logo d'identiplante" class="w-100" height="57" src="assets/img/logos/logo_ip.png" width="200"></a>

    <div class="onglets-div">
      <div class="onglet"
           [class.onglet-selected]="selectedOnglet === 'tous'"
           (click)="handleButtonClick('tous')">Toutes les observations
      </div>
      <div class="onglet"
           [class.onglet-selected]="selectedOnglet === 'adeterminer' || selectedOnglet === ''"
           (click)="handleButtonClick('adeterminer')">A determiner
      </div>
      <div class="onglet"
           [class.onglet-selected]="selectedOnglet === 'aconfirmer'"
           (click)="handleButtonClick('aconfirmer')">
        A vérifier
      </div>
      <div class="onglet"
           [class.onglet-selected]="selectedOnglet === 'validees'"
           (click)="handleButtonClick('validees')">
        Vérifiées
      </div>
      @if (userId){
      <div class="onglet"
            [class.onglet-selected]="selectedOnglet === 'monactivite'"
            (click)="handleButtonClick('monactivite')">
          Mon activité
      </div>
      }
    </div>

    <div class="logos-section">
      <div class="logo-tela">
        <a href="{{baseUrl}}" target="_blank" title="Tela Botanica">
          <img alt="logo_tela" height="22" width="86" [src]="logoTelaSrc"
               (mouseout)="onMouseOut('tela')"
               (mouseover)="onMouseOver('tela')">
        </a>
      </div>

      <div class="logo-pn">
        <a href="https://plantnet.org/" target="_blank" title="Plantnet">
          <img alt="logo_Plantnet" height="18" width="86" [src]="logoPnSrc"
               (mouseout)="onMouseOut('pn')"
               (mouseover)="onMouseOver('pn')">
        </a>
      </div>
    </div>
  </div>
</nav>
